* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.team {
    text-align: center;
    padding-top: 40px;
}

.team h2 {
    color:darkblue;
    margin-bottom: 60px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card {
    width: 180px;
    height: 130px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    position: relative;
    padding-top: 35px;
}

.person {
    width: 55px;
    height: 55px;
    border-radius: 50%;

    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 23px;
}

.leader {
    background-color: rgb(4, 69, 69);
}

.designer {
    background-color: red;
}

.developer {
    background-color: rgb(127, 179, 51);
}

.card h3 {
    font-size: 12px;
    color: darkblue;
    margin-bottom: 5px;
}

.card p {
    font-size: 9px;
    color: #52648a;
}

.leader-text {
    position: absolute;
    top: 12px;
    right: -5px;

    background-color:orange;
    color: darkblue;

    font-size: 7px;
    padding: 3px 6px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 12px;
}

.social a {
    width: 22px;
    height: 22px;

    background-color: gainsboro;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(52, 52, 164);
    text-decoration: none;

    font-size: 10px;
}